/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  max-width: 900px;
  margin: auto;
  background-color: #3f3d4a;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
}

header {
  height: 14vmin;
  max-height: 168px;
  width: 100%;
  border-radius: 5px;
  background-color: #71717f;
  color: #ecf0f7;
  font-family: system-ui;
}

.board-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
}

.board-element{
  height: 100%;
  max-width: 300px;
  flex: 1 1 7vmin;
  text-align: center;
  margin: 0;
}

.score-board-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.score-element {
  width: 100%;
  margin: 0;
}

#timer-container {
  font-size: 6vmin;
}

.board-element:hover{
  background-color: #26252b;
  color: #f890ab;
  outline: 0;
  border-color: #ecf0f7;
}

#reset-button {
  background-color: inherit;
  color: inherit;
  border-radius: 5px;
  font-size: 9vmin;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#reset-button:active {
  transform: scale(0.95);
}

#reset-button:focus, #reset-button:hover {
  background-color: #26252b;
  color: #f890ab;
  outline: 0;
  border-color: #ecf0f7;
}

/*
  For 3D flipping cards I followed the steps @
  https://3dtransforms.desandro.com/card-flip
    */
.scene {
  width: 76vmin;
  height: 76vmin;
  max-width: 900px;
  max-height: 900px;
  perspective: 45cm;
  margin: 2vmin auto 2vmin auto;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-gap: 2vmin;
}

.card {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: opacity 600ms ease-out,
              transform 500ms ease-out,
              visibility 1300ms;

  -webkit-transform-style: preserve-3d;

  -moz-transition: opacity 600ms ease-out,
                  transform 500ms ease-out,
                  visibility 1300ms;
  -webkit-transition: opacity 600ms ease-out,
                      transform 500ms ease-out,
                      visibility 1300ms;
  -o-transition: opacity 600ms ease-out,
                transform 500ms ease-out,
                visibility 1300ms;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  cursor: pointer;
  border-radius: 5px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card-face-front {
 background-color: #71717f;
}

.card-face-back {
  background-color: #f890ab;
  transform: rotateX(180deg);
  color: #ecf0f7;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;

}
.icon {
  font-size: 10vmin;
  font-family: "Arial Unicode MS";
}

.flipped {
  transform: rotateX(180deg);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f890ab;
  color: #3f3d4a;
  padding: 1rem 1.5rem;
  width: 37rem;
  border-radius: 0.5em;
  z-index: 2;
  text-align: center;
  line-height: 1.8;
  font-family: system-ui;
}

.restart-button {
  position: relative;
  margin: 20px auto;
  height: 2em;
  width: 100%;
  outline: 0;
  border: none;
  border-radius: 5px;

  /* border: 2px dashed #3f3d4a; */
  border: 3px dashed #3f3d4a;

  background-color: #f890ab; /* #26252b; */
  color: #3f3d4a;
  font-size: 2em;
}

.restart-button:hover, .restart-button:focus{
  background-color: #26252b;
  color: #ecf0f7;
  border: none;

}

.restart-button:active {
  transform: scale(0.98);
}


@media screen and (orientation: portrait) {
  .modal-content {
    width: 100%;
    padding: 5% 10%;
    line-height: 1.8;
  }

}

@media screen and (min-width: 1200px) and (min-height: 1200px){
  #reset-button {
    font-size: 108px;
  }
  #timer-container{
    font-size: 72px;
  }
  .board-wrapper {
    font-size: 32px;
  }
  .icon{
    font-size: 120px;
  }
}
