body {
  max-width: 900px;
  margin: auto;
  background-color: magenta;
  border: 1px solid black;
}

.scene {
  width: 96vmin;
  height: 96vmin;
  margin: 2vmin auto 2vmin auto;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-gap: 2vmin;
}

.card {
  border: 1px dashed black;
}
